<div class="d-flex align-items-center justify-content-center appForgetPassword" style="height:100vh">
  <form  class="col-md-4" (ngSubmit)="sendForm(vForm)" #vForm="ngForm">
    <h2>Forgot Your Password? </h2>
    <p>Enter your email address below and we will send you instructions on how to change your password.</p>

      <div class="form-group">
        <label for="loginEmail">Email</label>
        <input type="email" class="form-control" id="loginEmail" name="loginEmail" placeholder="email"
        (change)="onEmail($event)" [(ngModel)]="loginEmail" #vEmail="ngModel" required email>
      </div>
      <div class="text-danger" *ngIf="vEmail.touched && vEmail.invalid">
        <span *ngIf="vEmail.errors.required ">email is required</span>
      </div>
      <button type="submit" class="btn btn-block btn-success" [disabled]="vForm.invalid">Submit</button>
      <button class="btn btn-block btn-link text-success" routerLink="../"> return to <span class="text-success">sign-in</span></button>

    </form>



</div>
<!--
   <ng-container *ngIf="(loginResponse$ | async) as loginResponse">
     <div class="alert alert-danger" *ngIf="loginResponse.error">
      your password or email are incorrect
    </div>
  </ng-container>

  -->
