<div class="d-flex align-items-center justify-content-center" style="height:100vh">
<div>
  <h2>
    Sign in with your Flatkit Account </h2>
  <form (ngSubmit)="login(vLoginForm)" #vLoginForm="ngForm">

    <div class="form-group">
      <label for="loginEmail">Email</label>
      <input type="email" class="form-control" id="loginEmail" name="loginEmail" placeholder="email"
      (change)="onEmail($event)"  [(ngModel)]="loginEmail" ngModel #vEmail="ngModel" required email >
    </div>
    <div class="text-danger" *ngIf="vEmail.touched && vEmail.invalid">
      <span *ngIf="vEmail.errors.required ">email is required</span>
      <span *ngIf="vEmail.errors.email ">email is not correct</span>
    </div>
    <div class="form-group">
      <label for="loginPassword">Password</label>
      <input type="password" class="form-control" name="loginPassword" id="loginPassword" placeholder="Password" ngModel #vPassword="ngModel"
        required>
    </div>
    <div class="text-danger" *ngIf="vPassword.touched && vPassword.invalid">
      <span *ngIf="vPassword.errors.required ">password is required</span>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="keepMeSignIn" name="keepMeSignIn" ngModel #vKeepMeSignIn="ngModel">
      <label class="keepMeSignIn" for="keepMeSignIn">keep me signed in </label>
    </div>
    <button type="submit" class="btn btn-block btn-success" [disabled]="vLoginForm.invalid">Submit</button>
  </form>
  <button class="btn btn-block btn-link text-success" routerLink="./forget-password">Forgot password?</button>

  <p class="text-center"> Do not have an account?
    <button class="btn btn-link text-success">Sign up</button>
  </p>
</div>
<!--
 <ng-container *ngIf="(loginResponse$ | async) as loginResponse">
   <div class="alert alert-danger" *ngIf="loginResponse.error">
    your password or email are incorrect
  </div>
</ng-container>

-->
</div>
